/*Ángel de Jesús Villa Carrasco*/

.index{
    background-color: rgb(54, 187, 194);
    color: darkgoldenrod;
}
.uno{
    background-color: rgb(201, 138, 183);
    color: rgb(36, 95, 97);
}
.dos{
    background-color: darkblue;
    color: aquamarine;
}
.tres{
    background-color: rgb(50, 153, 72);
    color: rgb(85, 17, 31);
}
.cuatro{
    background-color: rgb(203, 190, 107);
color: rgb(50, 32, 129);
}